/app/config/parameters.yml
/build/
/phpunit.xml
/vendor/
/web/dist/
/web/bundles/
/node_modules/
/app/Resources/webpack/*
!/app/Resources/webpack/.gitkeep


/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep

/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
#/bin/
#/composer.phar

#/web/bundles/

/var/
#web/public/
#web/admin/
/data/

/.idea/
/app/Resources/node-server/_notes/